
<div class="container">
  <h3>
    Server-side Scrolling
    <small>
      <a
        href="https://github.com/swimlane/ngx-datatable/blob/master/src/app/paging/scrolling-server.component.ts"
        target="_blank"
      >
        Source
      </a>
    </small>
  </h3>
  <input
      type="text"
      style="padding:8px;margin:15px auto;width:30%;"
      placeholder="Type to filter the name column..."
      (keyup)="updateFilter($event)"
    />
  <ngx-datatable
    class="material dark server-scrolling-demo"
    [rows]="rows"
    [columns]="myColumns"
    [columnMode]="ColumnMode.force"
    [headerHeight]="headerHeight"
    [rowHeight]="rowHeight"
    [loadingIndicator]="isLoading"
    [scrollbarV]="true"
    (scroll)="onScroll($event.offsetY)"
  ></ngx-datatable>
</div>