
.header{
    margin-left: 3%;
    margin-bottom: 20px;

    .Title{
        margin-top: 30px;
        margin-bottom: 18px;

        padding-bottom: 5px;

        border-bottom: 1px solid rgb(209, 216, 228);
    }

    input{
        border-radius: 16px;
        box-shadow: 1px 1px 8px rgba(204, 204, 204, 0.598);
        width:30%;
        min-width: 200px;
        padding:8px;
        margin:15px auto;
        font-size: small;
        margin-bottom: 0px;
        outline: none;
        border: none;
    }

    input:focus{
        outline: none;
    }

    button {
        outline:none;
        border: none;
        height: 33px;
        width: 33px;

        margin-left: 18px;

        border-radius:50%;
        box-shadow: 1px 1px 8px rgba(204, 204, 204, 0.998);
        background: #fff;
        color: #488bde;
        letter-spacing:1px;
        text-shadow:0;

        
        cursor: pointer;
        transition: all 0.25s ease;
        &:hover {
          color: rgba(255, 166, 0, 0.611);
          background: #f3f7fc;
        }
      }
}

.Mycontainer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;

    .server-scrolling-demo {
        position: relative;
        width: 94%;
        height: 485px;
        border-radius: 10px;

        box-shadow: 1px 1px 8px rgba(204, 204, 204);

    }
  
  ::ng-deep .progress-linear     {
    position: fixed !important;
    bottom: 0px;
    background-color: orange;
  }

  ::ng-deep .datatable-header .datatable-header-cell, ::ng-deep .datatable-header {
      background-color: #f3f7fc;
      color: black;
      font-weight: bold;
  }

}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-size: small;
    text-align: center;
}