
.header{
    padding-left: 3%;
    margin-bottom: 20px;

    width: 100%;

    background-color: #fcfcfc;

    .Title{
        padding-top: 20px;
        padding-bottom: 10px;

        border-bottom: 1px solid rgb(235, 235, 235);
    }

}

.Mycontainer{

    background-color: white;
    width: 94%;
    margin-left: 3%;

    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .TableHeader{
        display: flex; 
        justify-content: space-between;
        padding-left: 18px;
        padding-right: 18px;
    }

    .TableHeader p{
        margin-top: 15px;
        font-weight: 500;
        font-size: 18px;
        font-style: normal;
    }

    .Search{
        padding:6px;
    }
    
    input{
        border-radius: 16px;
        box-shadow: 1px 1px 8px rgba(182, 182, 182, 0.698);

        width:30%;
        min-width: 200px;
        padding:8px;
        margin:5px auto;

        font-size: small;
        outline: none;

        border: none;
    }

    input:focus{
        outline: none;
    }

    button {
        outline:none;
        border: none;
        height: 33px;
        width: 33px;

        margin-left: 18px;

        border-radius:50%;
        box-shadow: 1px 1px 8px rgba(194, 194, 194, 0.998);
        background: #fff;
        color: #488bde;
        letter-spacing:1px;
        text-shadow:0;

        
        cursor: pointer;
        transition: all 0.25s ease;
        &:hover {
          color: rgba(255, 166, 0, 0.611);
          background: #f3f7fc;
        }
      }

    .server-scrolling-demo {
        position: relative;
        // width: 94%;
        height: 485px;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: 1px 1px 8px rgba(204, 204, 204);

    }
  
  ::ng-deep .progress-linear     {
    position: fixed !important;
    bottom: 0px;
    background-color: orange;
  }

  ::ng-deep .datatable-header .datatable-header-cell, ::ng-deep .datatable-header {
      background-color: #f3f7fc;
      color: black;
      font-weight: bold;
  }

}

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-size: small;
    font-weight: bolder;
    text-align: center;
}